@import '/src/assets/theme/color.less';
@import '/src/assets/theme/font.less';
@import '/src/assets/theme/constants.less';

.token-logo {
  height: 20px !important;
  width: 20px !important;
  margin-right: 4px;
}

.network-icon {
  height: 20px !important;
  width: 20px !important;
  margin-right: 4px;
  font-size: 20px;
}
.check-box-row {
  font-size: 14px;
  line-height: 22px;
  color: @font-13;
  .check-box {
    margin-right: 8px;
    :global {
      .bridge-checkbox {
        .bridge-checkbox-inner {
          width: 16px;
          height: 16px;
          border-radius: 4px;
          &::after {
            left: 22%;
          }
        }
      }
    }
  }
}

.table {
  margin-top: 24px;
  :global {
    .@{app-prefix}-table-cell-ellipsis {
      white-space: normal;
      word-break: normal;
    }
    .@{app-prefix}-table-thead > tr > th {
      padding: 13px 12px;
      background: @bg-19;
      border-bottom-width: 0;
      color: @font-15;
      line-height: 22px;
      .font-family-medium();
      .text-overflow(1);

      white-space: nowrap;
    }
    .@{app-prefix}-table-container table > thead > tr:first-child th:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    .@{app-prefix}-table-container table > thead > tr:first-child th:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    .@{app-prefix}-table-tbody > tr > td {
      padding: 18px 12px;
      color: @font-15;
      .font-family-medium();
    }
    .@{app-prefix}-table-thead > tr > th,
    .@{app-prefix}-table-tbody > tr > td,
    .@{app-prefix}-table tfoot > tr > th,
    .@{app-prefix}-table tfoot > tr > td {
      font-size: 14px;
      line-height: 20px;
      &::before {
        display: none;
      }
    }
  }
}
