@import '/src/assets/theme/constants.less';
@import '/src/assets/theme/color.less';
@import '/src/assets/theme/font.less';

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: @footer-height;
  padding: 24px 48px;
  border-top: 1px solid @border-5;
  background: rgb(255 255 255 / 95%);
  color: @font-13;
  font-size: 16px;

  .page-footer-left {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  .aelf-logo {
    width: 53px;
    height: 16px;
    margin-top: 2px;
  }

  .page-footer-right {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .page-footer-menu {
    display: flex;
    gap: 32px;
    align-items: center;
    .font-family-medium();
    & > a {
      color: @font-13;
    }
  }

  .page-footer-community-group {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .page-footer-community {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
